#main {
  color: red;
}

#main-sidebar {
  border: 1px solid;
}

#main-sidebar {
  border: 1px solid;
}

body #main {
  color: blue;
}

.el-nav {
  color: yellow;
}

.box {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
}

.c1, .c2 {
  color: red;
}

.c2 {
  font-size: 18px;
}

.s1, .s2, .s3 {
  color: yellow;
}

.s1 {
  font-size: 18px;
}

.s2 {
  font-size: 12px;
}

.s3 {
  font-size: 14px;
}
